@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #121212!important;
	font-family: 'Open Sans', sans-serif!important;
}

h1, h2, h3, h4, h5 {
	font-weight: 600!important;
}

p {
	font-weight: 400;
}

@media only screen and (min-width: 992px) {
	.sidebar {
		height: 100vh;
		background-color: #1E1E1E!important;
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;
	}

	.t-title {
		display: flex;
		justify-content: space-between;
	}
}

.spinner {
	width: 5rem!important;
	height: 5rem!important;
	color: #CD4FF7;
}

/*TEXTS*/

.text-white {
	color: #E8E7EF!important;
}

.text-muted {
	color: #979797;
}

/*BUTTONS*/

.btn {
	height: 48px!important;
	font-size: 16px!important;
}

.btn-icon {
	height: 48px!important;
	font-size: 24px!important;
}

.main-btn {
	background: linear-gradient(90deg, #CD4FF7 -28.2%, #6953F7 157.56%)!important;
	border: none!important;
}

.main-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(205, 79, 247, 0.2), 0 6px 20px 0 rgba(105, 83, 247, 0.19);
}

.btn-purple-outline {
	background: none!important;
	color: #CD4FF7!important;
	border: 1px solid #CD4FF7!important;
	font-size: 16px!important;
}

.btn-purple {
	background: #CD4FF7!important;
	color: #FFFFFF!important;
	font-size: 16px!important;
	border-radius: 5px;
}

.disabled-btn {
	background: #2E2E2E!important;
	border: none!important;
}

.text-link:hover {
	color: #CD4FF7!important;
	text-decoration: none!important;
}

.text-purple {
	color: #CD4FF7!important;
}

.text-purple:hover {
	color: #BC15F4!important;
	text-decoration: none!important;
}

.text-delete {
	color: #979797!important;
}

.text-delete:hover {
	color: #FB3BA1!important;
	text-decoration: none!important;
}

/*NAVBAR*/
.sidebar {
	border-right: solid 1px #333333;
	background-color: #1E1E1E!important;
}

#basic-navbar-nav {
	background-color: #1E1E1E!important;
}

.page-content {
	height: 100vh;
	background-color: #121212!important;
}

.icon-link {
	height: 20px!important;
	width: 20px!important;
}

.navbar-toggler {
	border-color: rgba(232, 231, 239, 0.05)!important; 
}

.navbar-toggler-icon {
	background-image: url(/menu.svg)!important;
}

/*.content-wrapper {
	height: 100%!important;
}*/

.avatar {
	height: auto;
	width: 120px;
}

.navbar-toggler {
	color: #E8E7EF!important;
}

.logo {
	height: auto;
	width: 100px;
}

.logo-icon {
	height: 60px;
	width: 50px;
}
/*LOGIN & REGISTER*/
.login-page {
	height: 100vh;
}
.login-form {
	background-color: #1E1E1E!important;
	padding: 40px 40px 40px 40px!important;
	border-radius: 10px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.input {
	background-color: #2E2E2E!important;
	border: none!important;
	color: #E8E7EF!important;
	border-radius: 10px;
	height: 48px!important;
}

.input:focus {
	border: 1px solid #CD4FF7!important;
}

.input[type="date"] {
	height: 36px!important;
	font-size: 14px;
}

/*HOME*/
.card-balance {
	background: linear-gradient(90deg, #CD4FF7 -28.2%, #6953F7 157.56%)!important;
	border-radius: 20px!important;
	box-shadow: 0px 8px 10px rgba(205, 79, 247, 0.14), 0px 3px 14px rgba(205, 79, 247, 0.12), 0px 5px 5px rgba(05, 83, 247, 0.2);
}

.card-component {
	background-color: #1E1E1E!important;
	padding: 8px 8px 8px 8px!important;
	border-radius: 20px!important;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.chart-component canvas {
	max-height: 255px!important;
}

.transaction-record {
	background: #333333!important;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.modal-component {
	background-color: #1E1E1E!important;
}

.list-record:hover {
	background-color: #474747!important;
}

.threedots {
	color: #E8E7EF!important;
}

.dropdown-menu {
	background-color: #333333!important;
}

.dropdown-item:hover {
	background-color: #474747!important;
}

.swal-title {
	color: #FFFFFF;
}

.amount-income {
	color: #089450!important;
}

.amount-expense {
	color: #FB3BA1!important;
}